{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Get Opinionated!</h1>
        <p class="lead">and help write the {{ settings.DEFAULT_DOCUMENT_DESCRIPTION_LONG }}</p>
        {% if user.is_authenticated %}
            <a class="btn btn-large btn-primary" href="/document/the-pirate-codex">Starting Today!</a>
        {% else %}
            <a class="btn btn-large btn-primary" href="{% url user-register %}">Register!</a>
        {% endif %}
    </div>
    
    <div class="row-fluid">
        <div class="span4">
            <h2>Write the programme</h2>
            <p>Everybody can help out and put their area of expertise into our programme. Since everybody is an expert in his own field, allbeit a very small field, only together we can make an awesome program.</p>
        </div>
        <div class="span4">
            <h2>Using Liquid Democracy</h2>
            <p>We believe in democracy rather than hierarchy, so we give you the state of the art in voting: Liquid Democracy. It strikes the perfect balance between a direct democracy system and a representative one, all to minimize your effort and maximize your influence.</p>
        </div>
        <div class="span4">
            <h2>As easy as possible</h2>
            <p>We tried to make the entire process as easy as possible. The tool is not to be used by experts only, but by real people. We want as many people as possible to help out, and that's why we have put an extreme effort in making everything as simple as possible.</p>
        </div>
    </div>


{% endblock %}
