*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim swap files
*.swp

# Specific to this project

# create your own db and super user using "./manage.py syncd"
/database.sqlite3

# local settings
getopinionated/local_settings.py

# custom files
jsrv.py
getopinionated.sublime-*
lock
/database.sqlite3.backup
