{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}{% include "title.html" with subtitle="Login" %}{% endblock %}


{% block content %}

<h1>Login</h1>

<form action="{% url user-login %}" method="POST">
    {% csrf_token %}
    {{ form|as_bootstrap:"horizontal" }}
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="Login" class="btn"/>
    <a href="{% url password-reset %}" class="btn">Request new password</a>
</form>

{% endblock %}

