{% load macros %}
{% load humanize %}
{% load filters %}
{% load thumbnail %}

{% macro user-micro postinguser %}
		{% if postinguser %}
		<a href="{% url user-profile postinguser.slug %}"><span class="user-name">{{postinguser.display_name}}</span></a>
		{% else %}
		{% endif %}
    
{% endmacro %}

{% macro user-small postinguser when %}
	<div class="user-small">
		{% if postinguser %}
		<a href="{% url user-profile postinguser.slug %}">
			<span title="{{when}}" class="user-time">{{when|humantime}}</span>
		    <span class="user-name">{{postinguser.display_name}}</span>
		    <span class="user-karma">{{postinguser.karma|mediumint}}</span>
		</a>
		{% else %}
			<span title="{{when}}" class="user-time">{{when|humantime}}</span>
		{% endif %}
    </div>
{% endmacro %}

{% macro user-medium postinguser when what %}
	<div class="user-info">
		{% if postinguser %}
			<div title="{{when}}" class="user-box-action">{{what}} {{when|shorttime}}</div>
		    {% thumbnail postinguser.avatar "32x32" crop="center" as im %}
				<div class="user-box-avatar">
			    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			    </div>
		    {% empty %}
			{% endthumbnail %}
			<div class="user-box-name">
		    	<a href="{% url user-profile postinguser.slug %}">
		    		{{postinguser.display_name}}
		    	</a>
		    	<br>
		    	<div class="user-box-karma">{{postinguser.karma|mediumint}}</div>
		    </div>
	    {% else %}
	    	<div title="{{when}}" class="user-box-action">{{what}} {{when|shorttime}}</div>
	        <div class="user-box-avatar"></div>
	        <div class="user-box-name">
        		Anonymous
	        	<br>
	        	<div class="user-box-karma">&nbsp;</div>
	        </div>
		{% endif %}
    </div>
{% endmacro %}

{% macro user-in-list user %}
	<div class="user-info">
	    {% thumbnail user.avatar "32x32" crop="center" as im %}
			<div class="user-box-avatar">
		    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		    </div>
	    {% empty %}
		{% endthumbnail %}
		<div class="user-box-name">
	    	<a href="{% url user-profile user.slug %}">
	    		{{user.display_name}}
	    	</a>
	    	<br>
	    	<div class="user-box-karma">{{user.karma|mediumint}}</div>
	    </div>
    </div>
{% endmacro %}

