{% load macros %}
{% load humanize %}
{% load filters %}

{% macro user-small postinguser when %}
	<div class="user-small">
		{% if postinguser %}
		<a href="{% url user-profile postinguser.slug %}">
			<span title="{{when}}" class="user-time">{{when|humantime}}</span>
		    <span class="user-name">{{postinguser.display_name}}</span>
		    <span class="user-karma">{{postinguser.karma|mediumint}}</span>
		</a>
		{% else %}
			<span title="{{when}}" class="user-time">{{when|humantime}}</span>
		{% endif %}
    </div>
{% endmacro %}

{% macro user-medium postinguser when what %}
	<div class="user-info">
		{% if postinguser %}
			<div title="{{when}}" class="user-box-action">{{what}} {{when|shorttime}}</div>
		    <div class="user-box-avatar"></div>
		    <div class="user-box-name">
		    	<a href="{% url user-profile postinguser.slug %}">
		    		{{postinguser.display_name}}
		    	</a>
		    	<br>
		    	<div class="user-box-karma">{{postinguser.karma|mediumint}}</div>
		    </div>
	    {% else %}
	    	<div title="{{when}}" class="user-box-action">{{what}} {{when|shorttime}}</div>
	        <div class="user-box-avatar"></div>
	        <div class="user-box-name">
        		Anonymous
	        	<br>
	        	<div class="user-box-karma">&nbsp;</div>
	        </div>
		{% endif %}
    </div>
{% endmacro %}

