{% load macros %}
{% load humanize %}
{% load filters %}

{% macro user-small user when %}
	<div class="user-small">
		{% if user %}
		<a href="{% url user-profile user.slug %}">
			<span title="{{when}}" class="user-time">{{when|naturaltime}}</span>
		    <span class="user-name">{{user.display_name}}</span>
		    <span class="user-karma">{{user.karma|mediumint}}</span>
		</a>
		{% else %}
			<span title="{{when}}" class="user-time">{{when|naturaltime}}</span>
		{% endif %}
    </div>
{% endmacro %}

{% macro user-medium user when what %}
	<div class="user-info">		
		<div title="{{when}}" class="user-box-action">{{what}} {{when|naturaltime}}</div>
	    <div class="user-box-avatar"></div>
	    <div class="user-box-name">
	    	<a href="{% url user-profile user.slug %}">
	    		{{user.display_name}}
	    	</a>
	    	<br>
	    	<div class="user-box-karma">{{user.karma|mediumint}}</div>
	    </div>
    </div>
{% endmacro %}

