{% extends "base.html" %}
{% load filters %}
{% load macros %}
{% loadmacros "proposal/tag-list-macro.html" %}
{% loadmacros "proposal/proposal-list-macro.html" %}
{% loadmacros "proposal/comment-list-macro.html" %}
{% loadmacros "proposal/vote-list-macro.html" %}
{% loadmacros "proposal/proxyvote-list-macro.html" %}
{% load thumbnail %}
{% load humanize %}

{% block title %}{% include "title.html" with subtitle=member.display_name subtitle2="'s profile" %}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/profile.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/proxy.css" type="text/css" charset="utf-8" />
    {% if proxyform %}
    	{{ proxyform.media }}
    {% endif %}
{% endblock %}

{% block content %}
	<div class="profile">
		<h1>{{member.display_name}}</h1>
		<div class="profile-header">
			<div class="gravatar">
				{% thumbnail member.avatar "128x128" crop="center" as im %}
					<div class="profile-picture">
				    	<img src="{{ im.url }}">
				    </div>
			    {% empty %}
				{% endthumbnail %}
				<div class="karma">
					<span>{{member.karma}}</span>
					karma
				</div>
			</div>
			<div class="table">
				<table>
					<tbody>
						<tr>
							<th>visits</th>
							<td>member for</td>
							<td>{{member.member_since|timesince}}</td>
						</tr>
						<tr>
							<th></th>
							<td>last login</td>
							<td>{{member.last_login|timesince}}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<th>Stats</th>
							<td>Profile views</td>
							<td>{{member.profile_views}}</td>
						</tr>
				</table>
			</div>
			{% if proxyform %}
				<form action="{{ request.build_absolute_uri }}" method="POST" class="profileproxyform">
					{% csrf_js_token %}
					I proxy my votes to {{member.display_name}} for the tags:<br /> 
					{{proxyform.profile_proxy_tags}}
					<input type="submit" id="submitButton" value="Save your proxies" />
				</form>
			{% endif %}
		</div>
			
        
            
		{% block data %}
            {% if tag_list %}
                <div class="profile-tag-list">
                    <h1>{{member.display_name}}'s tags</h1>
                </div>
                {% usemacro tag-list-macro tag_list|slice:":25" %}
                {% if tag_list.keys > 25 %}
                    <a href="{% url user-tags member.slug %}">See all tags</a>
                {% endif %}
            {% else %}
            {% endif %}
            
            
            
		    {% if proposal_list %}
		    	<div class="profile-proposal-list">
			    	<h1>{{member.display_name}}'s proposals</h1>
			        {% usemacro proposal-list-macro proposal_list|slice:":10" %}
		        </div>
		        
		        {% if proposal_list|length > 10 %}
		            <a href="{% url user-proposals member.slug %}">See all proposals</a>
		        {% endif %}
		    {% else %}
		    {% endif %}
		    
		
			{% if pos_comment_list or neutr_comment_list or neg_comment_list %}
				<div class="profile-comment-list">
			    	<h1>{{member.display_name}}'s comments</h1>
			    	{% usemacro comment-list-macro pos_comment_list|slice:":10" neutr_comment_list|slice:":10" neg_comment_list|slice:":10" %}	     
		        </div>
		        {% if pos_comment_list|length > 10 or neutr_comment_list|length > 10 or neg_comment_list|length > 10 %}
		            <a href="{% url user-comments member.slug %}">See all comments</a>
		        {% endif %}
		    {% else %}
		    {% endif %}
		    
		
			{% if pos_vote_list or neutr_vote_list or neg_vote_list %}
				<div class="profile-vote-list">
			    	<h1>{{member.display_name}}'s votes</h1>
			    	{% usemacro vote-list-macro pos_vote_list|slice:":10" neutr_vote_list|slice:":10" neg_vote_list|slice:":10" %}		     
		        </div>
		        {% if pos_vote_list|length > 10 or neutr_vote_list|length > 10 or neg_vote_list|length > 10 %}
		            <a href="{% url user-votes member.slug %}">See all votes</a>
		        {% endif %}
		    {% else %}
		    {% endif %}
		
		    
			{% if pos_proxy_vote_list or neutr_proxy_vote_list or neg_proxy_vote_list %}
                <div class="profile-vote-list">
                    <h1>{{member.display_name}}'s votes through proxies</h1>
                    {% usemacro proxyvote-list-macro pos_proxy_vote_list|slice:":10" neutr_proxy_vote_list|slice:":10" neg_proxy_vote_list|slice:":10" %}
                </div>
                {% if pos_proxy_vote_list|length > 10 or neutr_proxy_vote_list|length > 10 or neg_proxy_vote_list|length > 10 %}
                    <a href="{% url user-proxy-votes member.slug %}">See all votes</a>
                {% endif %}
            {% else %}
            {% endif %}
            
		{% endblock %}
	</div>
{% endblock %}
