{% extends "base.html" %}
{% load filters %}
{% load macros %}
{% loadmacros "proposal/proposal-macro.html" %}
{% load thumbnail %}

{% block title %}{% include "title.html" with subtitle=member.display_name subtitle2="'s profile" %}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/profile.css" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}

	<h1>{{member.display_name}}'s Proposals</h1>
	{% thumbnail member.avatar "128x128" crop="center" as im %}
		<div class="profile-picture">
	    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	    </div>
    {% empty %}
	{% endthumbnail %}
	
    {% if proposal_list %}
        <ul>
        {% for proposal in proposal_list %}
        	<li>
        		{% usemacro proposal-for-list proposal %}
        	</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{{member.display_name}} made no proposals.</p>
    {% endif %}

{% endblock %}
