{% extends "base.html" %}
{% load filters %}
{% load macros %}
{% load bootstrap_toolkit %}
{% loadmacros "accounts/member-macro.html" %}
{% loadmacros "proposal/tag-macro.html" %}

{% block title %}{% include "title.html" with subtitle="Proxies" %}{% endblock %}


{% block extrastyle %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/proxy.css" type="text/css" charset="utf-8" />
	<script type="text/javascript" src="{{STATIC_URL}}js/proxy.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/springy/springy.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/springy/springyui.js"></script>
	{% if proxyform %}{{ proxyform.media }}{% endif %}
	<script type="application/javascript">
		jQuery(function(){
			var graph = new Springy.Graph();
			var graphJSON = {{proxygraph.nodesToJson|safe}};

			graph.loadJSON(graphJSON);
			graph.addEdges({{proxygraph.edgesToArgs|safe}});

			var springy = jQuery('#springyproxy').springy({
				graph: graph
			});
		});
	</script>
{% endblock %}

{% block content %}
	{% if proxyform %}
    	<h2>My proxies</h2>
		<form class="form-horizontal" action="{% if filter_tag %}{% url proxy-index filter_tag.slug %}{% else %}{% url proxy-index %}{% endif %}" method="POST" class="proxyform">
		{% csrf_js_token %}
		<div class="control-group">
			<label class="control-label" for="id_main_proxy">I delegate my vote to </label>
			<div class="controls"> 
				{{ proxyform.main_proxy }}
			</div>
		</div>
		<h3>except for when</h3>
		<div class="proxy_list">
			<div id ="itemhidden" class="proxy_item" style="display:none">
				<div class="form-inline control-group">
					<span class="control-label">
						I delegate my vote
					</span>
					<div class="controls control-row well">
						<div class="control-group">
							<label for="id_side_proxy_tags" class="control-label">for the tags</label>
							{{ proxyform.side_proxy_tags }}
						</div>
						<div class="control-group">
							<label for="id_side_proxy" class="control-label">to the users</label>
							{{ proxyform.side_proxy }}
						</div>
					</div>
				</div>
			</div>
			
			{% for userfield, tagfield in proxyform.getDefaultFieldList %}
			
				<div id ="item{{ forloop.counter0 }}" class="proxy_item">
					<div class="form-inline control-group">
						<span class="control-label">
							I delegate my vote
						</span>
						<div class="controls control-row well">
							<div class="control-group">
								<label for="id_side_proxy_tags" class="control-label">for the tags</label>
								{{ tagfield }}
							</div>
							<div class="control-group">
								<label for="id_side_proxy" class="control-label">to the users</label>
								{{ userfield }}
							</div>
						</div>
					</div>
				</div>
				
			{% endfor%}
		</div>
		
		
		
		<input type="number" id="tagfieldcount" name="tagfieldcount" value="{{ proxyform.getDefaultFieldList|length }}"  style="display:none" />
		<div class="form-actions">
			<input type="submit" id="submitButton" value="Save your proxies" class="btn btn-primary"/>
			<input type="button" id="addProxyButton" value="Add another proxy" class="btn"/>
		</div>
		</form>
	{% endif %}
	<div id="landscape">
		<h2>
			Current proxy landscape {% usemacro tag-small-disabled filter_tag %}
		</h2>
		<div class="row">
			<canvas id="springyproxy" height="600" width="940" class="span12"></canvas>
		</div>
		<div class="row">
			<div class="span12">
				Filter on 
				{% for tag in tags %}
					{% if filter_tag and filter_tag.slug == tag.slug %}
						{% usemacro tag-small-disabled tag %}
					{% else %}
						{% usemacro tag-small-proxy tag %}
					{% endif %}
				{% endfor %}
				{% if not filter_tag %}
					{% usemacro tag-small-disabled '' %}
				{% else %}
					{% usemacro tag-small-proxy '' %}
				{% endif %}
			</div>
		</div>
	</div>
 {% endblock %}