{% extends "base.html" %}
{% load filters %}
{% load macros %}
{% loadmacros "accounts/member-macro.html" %}
{% loadmacros "proposal/tag-macro.html" %}

{% block title %}{% include "title.html" with subtitle="Proposals" %}{% endblock %}


{% block extrastyle %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/proxy.css" type="text/css" charset="utf-8" />
  <script type="text/javascript" src="{{STATIC_URL}}js/proxy.js"></script>
  {{ proxyform.media }}
{% endblock %}

{% block content %}
<div>
	<form action="{% url proxy-index %}" method="POST" class="proxyform">
	{% csrf_token %}
	<div>
		My vote for everything goes to {{ proxyform.main_proxy }}
	</div>
	<div class="proxy_list">
		<div id ="itemhidden" class="proxy_item" style="display:none">
			I delegate my vote for the tags {{ proxyform.side_proxy_tags }} to {{ proxyform.side_proxy }}
		</div>
		{% for userfield, tagfield in proxyform.getDefaultFieldList %}
			<div id="item{{ forloop.counter0 }}" class="proxy_item">
				I delegate my vote for the tags {{ tagfield }} to {{ userfield }}
			</div>
		{% endfor%}
	</div>
	<input type="number" id="tagfieldcount" name="tagfieldcount" value="{{ proxyform.getDefaultFieldList|length }}"  style="display:none" />
	<input type="button" id="addProxyButton" value="Add another proxy" />
	<input type="submit" id="submitButton" value="Save your proxies" />
	</form>
</div>
 {% endblock %}