{% extends "base.html" %}
{% block title %}{% include "title.html" with subtitle="Update profile" %}{% endblock %}

{% block content %}

<h1>Update account</h1>

<form action="{% url profile-update %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ profileform }}
    </table>
    <input type="submit" value="Update"  name="profileupdate" />
</form>

<form action="{% url profile-update %}" method="POST">
    {% csrf_token %}
    <table>
        {{ passwordform }}
    </table>
    <input type="submit" value="Change password" name="passwordchange" />
</form>

{% endblock %}

