{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block title %}{% include "title.html" with subtitle="Update profile" %}{% endblock %}

{% block content %}

<h1>Update account</h1>

<form class="form-horizontal" action="{% url profile-update %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ profileform|as_bootstrap:"horizontal" }}
    <p class="form-actions">
    	<input type="submit" value="Update"  name="profileupdate" />
    </p>
</form>

<form class="form-horizontal" action="{% url profile-update %}" method="POST">
    {% csrf_token %}
    {{ passwordform|as_bootstrap:"horizontal" }}
    <p class="form-actions">
    	<input type="submit" value="Change password" name="passwordchange" />
    </p>
</form>

{% endblock %}


