{% extends "accounts/profile.html" %}
{% load macros %}
{% loadmacros "proposal/proxyvote-list-macro.html" %}

{% block data %}
    <h1>{{member.display_name}}'s votes through proxies</h1>
	{% if pos_proxy_vote_list or neutr_proxy_vote_list or neg_proxy_vote_list %}
        <div class="profile-vote-list">
            {% usemacro proxyvote-list-macro pos_proxy_vote_list neutr_proxy_vote_list neg_proxy_vote_list %}
        </div>
    {% else %}
    	<p>{{member.display_name}} hasn't voted through proxies.</p>
    {% endif %}
{% endblock %}