{% extends "accounts/profile.html" %}
{% load macros %}
{% loadmacros "proposal/comment-list-macro.html" %}

{% block data %}
    <h1>{{member.display_name}}'s comments</h1>
	{% if pos_comment_list or neutr_comment_list or neg_comment_list %}
        <div class="profile-comment-list">
            {% usemacro comment-list-macro pos_comment_list neutr_comment_list neg_comment_list %}       
        </div>
    {% else %}
    	<p>{{member.display_name}} made no comments.</p>
    {% endif %}
{% endblock %}