{% extends "accounts/profile.html" %}
{% load macros %}
{% loadmacros "proposal/proposal-list-macro.html" %}

{% block data %}
	{% if proposal_list %}
        <div class="profile-proposal-list">
            <h1>{{member.display_name}}'s proposals</h1>
            {% usemacro proposal-list-macro proposal_list %}
            <a href="{% url user-proposals member.slug %}">See all proposals</a>
        </div>
    {% else %}
        <p>{{member.display_name}} made no proposals.</p>
    {% endif %}
{% endblock %}