{% extends "accounts/profile.html" %}
{% load macros %}
{% loadmacros "proposal/proposal-macro.html" %}

{% block data %}
	{% if proposal_list %}
    	<div class="profile-proposal-list">
	    	<h1>{{member.display_name}}'s proposals</h1>
	        <ul>
	        {% for proposal in proposal_list %}
	        	<li>
	        		{% usemacro proposal-for-list proposal %}
	        	</li>
	        {% endfor %}
	        </ul>
        </div>
    {% else %}
        <p>{{member.display_name}} made no proposals.</p>
    {% endif %}
{% endblock %}