{% extends "base.html" %}
{% load call_with_args %}
{% load macros %}
{% load filters %}
{% loadmacros "accounts/member-macro.html" %}
{% loadmacros "proposal/tag-macro.html" %}

{% macro updownvote votable_post %}
	{% if votable_post|args:user|call:"can_press_upvote" %}
		<a href="{% url posts-vote proposal.slug votable_post.id 'up' %}">+</a>
	{% else %}
		+
	{% endif %}
	 / 
	{% if votable_post|args:user|call:"can_press_downvote" %}
		<a href="{% url posts-vote proposal.slug votable_post.id 'down' %}">-</a>
	{% else %}
		-
	{% endif %}
	<br/>
	<span class="score">
		{{ votable_post.upvote_score|smallint }}
	</span>
{% endmacro %}

{% block title %}{% include "title.html" with subtitle=proposal.title %}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/proposing.css" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <article class="proposal">
        <header class="content">
            <h1>
                <span class="updownvote">{% usemacro updownvote proposal %}</span>
                <span class="title">{{ proposal.title }}</span>
            </h1>
        </header>
        <div class="diff">{{ proposal.diff|diffrender }}</div>
        <div class="motivation">
        	<span class="creator-medium">{% usemacro user-medium proposal.creator proposal.create_date "proposed" %}</span>
        	{{ proposal.motivation|linebreaks }}
        	<div class="proposal-tags">
        		{% for tag in proposal.tags.all %}
        			{% usemacro tag-small tag %}
        		{% endfor %}
        	</div>
        </div>
        {% if proposal.voting_stage == 'VOTING' %}
            <div class="votes">
                <h2>Cast your vote:</h2>
                <div class="votebuttons">
                    {% for option, helptext in proposal.voteOptions %}
                        <a href="{% url proposal-vote proposal.slug option %}">
                            <div>{{option}}</div>
                            <div class="small">{% if helptext %}{{helptext}}{% else %}&nbsp;{% endif %}</div>
                        </a>
                    {% endfor %}
              </div>
            </div>
        {% endif %}        
        <div class="comments">
            {% for comment in proposal.comments.all %}
            <div class="comment">
                <h2 class="{{ comment.color }}">
                    <span class="updownvote">{% usemacro updownvote comment %}</span>
                    <span class="title">Comment</span>
                    {% usemacro user-small comment.creator comment.create_date %}
                </h2>
                <div class="motivation">{{ comment.motivation|linebreaks }}</div>
            </div>
            {% endfor %}
        </div>
        {% if proposal.voting_stage == 'DISCUSSION' %}
        <div class="owncomment">
            <h2>Write your own comment</h2>
            <form action="{% url proposals-detail proposal.slug %}" method="POST" class="commentform">
                {% csrf_token %}
                {{ commentform.color.errors }}
                <p>Color: {{ commentform.color }}</p>
                {{ commentform.motivation.errors }}
                <p>{{ commentform.motivation }}</p>
                <p><input type="submit" value="comment" /></p>
            </form>
        </div>
        {% endif %}
        
    </article>
{% endblock %}
