{% extends "base.html" %}
{% load filters %}
{% load macros %}
{% loadmacros "proposal/proposal-list-macro.html" %}
{% loadmacros "proposal/tag-macro.html" %}

{% block extrastyle %}
	<script type="text/javascript" src="{{STATIC_URL}}js/timeline.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}css/proposing.css" type="text/css" charset="utf-8" />
	<script type="application/javascript">
		{% if timeline %}
		    /*** data ***/
		    var timelineData = {{timeline.toJson|safe}};
		    $(document).ready(function(){
		        drawTimeline(timelineData);
		    });
	    {% endif %}
	</script>
{% endblock %}
{% block title %}{% include "title.html" with subtitle="Proposals" %}{% endblock %}

{% block beforecontent %}
{% endblock %}
{% block content %}
    {% if timeline %}
        <div class="row-fluid">
            <div class="span12"><canvas id="timeline"></canvas></div>
        </div>
    {% endif %}
	<div style="padding: 20px 0 10px 30px;">
		{% if settings.AMENDMENT_PROPOSALS_ALLOWED %}
			<a href="{% url latest-document-detail 'the-pirate-codex' %}" role="button" class="btn">Propose new ammendment</a>
		{% endif %}
		<span style="padding-left: 20px"/>
		{% if settings.POSITION_PROPOSALS_ALLOWED %}
			<a href="{% url new-positionproposal %}" role="button" class="btn">Propose new position</a>
		{% endif %}
	</div>
	<div class="row-fluid">
    
        <div class="span9">
			<div class="row-fluid">
				<div class="span12">
			    	{% if title %}
				    	<h4>{{ title }}</h4>
				    {% else %}
				    	<h4>
				    		Proposals:
				    		{% if user.is_authenticated %}
					    		<a href="{% url proposals-list "following" %}">Following</a>
					    		-		    		
				    		{% endif %}
				    		<a href="{% url proposals-list "latest" %}">Latest</a>
				    		-
				    		<a href="{% url proposals-list "voting" %}">Voting</a>
				    		-
				    		<a href="{% url proposals-list "all" %}">All</a>
			    		</h4>
					{% endif %}
				</div>
			</div>
		
		    {% usemacro proposal-list-macro latest_proposal_list %}
		</div>
		<div class="span3">
			<h4>Most used tags</h4>
			{% for tag in taglist %}
				<div class="tag-item">
					{% usemacro tag-medium tag %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
