{% extends "base.html" %}
{% load filters %}
{% load macros %}
{% loadmacros "proposal/proposal-macro.html" %}

{% block title %}{% include "title.html" with subtitle="Proposals" %}{% endblock %}

{% block content %}

    {% if latest_proposal_list %}
        <ul>
        {% for proposal in latest_proposal_list %}
        	<li>
        		{% usemacro proposal-for-list proposal %}
        	</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No proposals are available.</p>
    {% endif %}

{% endblock %}
