{% load macros %}
{% load humanize %}
{% load filters %}
{% loadmacros "accounts/member-macro.html" %}
{% loadmacros "proposal/tag-macro.html" %}

{% macro proposal-list-macro proposal_list %}
    {% for proposal in proposal_list %}
    	<div class="row-fluid">
        	<div class="span12">
                <div class="row-fluid show-grid">
                    <div class="span1">
                        <div class="upvotescore">
                            <div class="mini-counts">
                                {{ proposal.totalvotescore|smallint }}
                            </div>
                            <div class="numberblocktext">
                                votes
                            </div>
                        </div>
                    </div>
                    <div class="span1">
                        <div class="numberofcomments">
                            <div class="mini-counts">
                                {{ proposal.number_of_comments|smallint }}
                            </div>
                            <div class="numberblocktext">
                                comments
                            </div>
                        </div>
                    </div>
                    <div class="span1">
                        <div class="views">
                            <div class="mini-counts">
                                {{ proposal.views|smallint }}
                            </div>
                            <div class="numberblocktext">
                                views
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="summary">
                            <a href="{% url proposals-detail proposal.slug %}">{{ proposal.title }}</a>
                        </div>
                        <br/>
                        <div class="proposal-tags">
                            {% if settings.AMENDMENT_PROPOSALS_ALLOWED and settings.POSITION_PROPOSALS_ALLOWED %}
                                {% if proposal.cast.proposaltype == 'amendment' %}
                                    <div class="label label-inverse custom-popover" style="width:15px;text-align: center" popovertitle="This is an amendment proposal">
                                        <i class="icon-file icon-white"></i>
                                    </div>
                                {% elif proposal.cast.proposaltype == 'position' %}
                                    <div class="label label-inverse custom-popover" style="width:15px;text-align: center" popovertitle="This is a position proposal">
                                        <i class="icon-question-sign icon-white"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="label label-inverse">
                                {{ proposal.get_voting_stage_display }}
                            </div>
                            {% for tag in proposal.tags.all|slice:":4" %}
                                {% if forloop.counter0 == 3 %}
                                    <div class="label label-info">
                                        ...
                                    </div>
                                {% else %}
                                    {% usemacro tag-small tag %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="creator-small">
                            {% usemacro user-small proposal.creator proposal.create_date%}
                        </div>
                    </div>
                </div>
        	</div>
    	</div>    
    {% empty %}
        <p>No such proposals available.</p>
    {% endfor %}
{% endmacro %}