{% load macros %}
{% load humanize %}
{% load filters %}
{% loadmacros "accounts/member-macro.html" %}
{% loadmacros "proposal/tag-macro.html" %}

{% macro proposal-for-list proposal %}
	<div class="numberblock upvotescore">
		<div class="mini-counts">
			{{ proposal.totalvotescore|smallint }}
		</div>
		<div class="numberblocktext">
			votes
		</div>
	</div>
	<div class="numberblock numberofcomments">
		<div class="mini-counts">
			{{ proposal.number_of_comments|smallint }}
		</div>
		<div class="numberblocktext">
			comments
		</div>
	</div>
	<div class="numberblock views">
		<div class="mini-counts">
			{{ proposal.views|smallint }}
		</div>
		<div class="numberblocktext">
			views
		</div>
	</div>
	<div class="explanation">
		<span class="voting-stage">
			{{ proposal.get_voting_stage_display }}
		</span>
		<div class="summary">
			<a href="{% url proposals-detail proposal.slug %}">{{ proposal.title }}</a>
		</div>
		{% if proposal.creator %}
			<div class="creator-small">
				<a href="{% url user-profile proposal.creator.slug %}">{% usemacro user-small proposal.creator proposal.create_date%}</a>
			</div>
		{% endif %}
		<br>
		<div class="proposal-tags">
			{% for tag in proposal.tags.all %}
				{% usemacro tag-small tag %}
			{% endfor %}
		</div>
	</div>
{% endmacro %}