{% load macros %}

{% macro star-macro user proposal %}
	{% if user.is_authenticated %}
		<img 
	    {% if proposal in user.favorites.all %}
	    	src="{{STATIC_URL}}images/favorite.png"
	    {% else %}
	    	src="{{STATIC_URL}}images/nofavorite.png"
	    {% endif %}
	    	alt="" class="favoritebutton custom-popover" id="favorite-{{proposal.slug}}" onclick="favorite_send( '{{proposal.slug}}')"
	    	popovertitle="Follow this proposal and receive updates if something happens."/>
    {% endif %}
{% endmacro %}