article.proposal {
}

title-container {
}

article.proposal header.content {
    border-bottom: 3px #777 solid;
    font-size: 2em;
    min-height: 99px; 
}

.favorite {
	display: inline-block;
	left: 0;
    bottom: 0;
    float: left;
    font-size: 14px;
    padding: 0px;
    font-weight: normal;
    line-height: 20px;
}

.favorite img {
    display: inline-block;
    margin: 20px 10px 20px 10px;
}

article.proposal header .updownvote {
    font-size: 16px;
    background-color: #777;
    display: inline-block;
    bottom: 0;
    float: left;
    width: 64px;
    height: 83px;
}

article.proposal header .share {
	float:right;
	vertical-align: top;
    text-align: right;
}

article.proposal .comment .updownvote {
    font-size: 9px;
    background-color: #aaa;
}

article.proposal .updownvote {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    width: 4em;
    text-align: center;
    margin-right: 0.7em;
}

article.proposal .updownvote .score {
    font-size: 1.5em;
}

#main article.proposal .updownvote a {
    color: #fff;
}

article.proposal .title{
    font-weight: bold;
    color: #444;
    margin-right: 0.7em;
}

article.proposal .diff {
    background-color: #ddd;
    padding: 4px;
    font-family: monospace;
}

article.proposal .motivation {
    margin: 8px 0 8px;
}

article.proposal .motivation label {
    display: none;
}
article.proposal .motivation form {
    background-color: inherit !important;
    padding: 0px !important;
    margin: 0px !important;
}
article.proposal .motivation .chzn-container,
article.proposal .motivation textarea {
    width: 700px !important;
}
article.proposal .motivation .chzn-container * {
    border: 0 ! important;
}

article.proposal .comment h2 {
    border-bottom: 3px #aaa solid;
    margin-top: 24px;
}

article.proposal .owncomment {
    margin-top: 48px;
}

article.proposal .votebuttons {
    padding-left: 50px;
}

article.proposal .comment_replies, article.proposal .comment_replies textarea {
    font-size: 12px;
}

/***** timeline *****/
article.proposal .timeline {
    background-color: #eee;
    padding: 20px;
}
article.proposal .timeline h2 {
    margin-bottom: 10px;
}
article.proposal .timeline ul.events {
    list-style-type: none;
    margin: 0;
    padding: 0 0 8px 0;
    display: block;
    overflow: auto;
}
article.proposal .timeline ul.events li {
    width: 250px;
    color: #777;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 0 !important;
    text-align: center;
    float: left;
}
article.proposal .timeline ul.intervals {
    list-style-type: none;
    padding: 0;
    width: 735px;
    margin: 0;
    display: block;
    padding-left: 125px;
    overflow: auto;
    background-color: #ccc !important;
}
article.proposal .timeline ul.intervals li {
    border-left: 1px solid #999;
    color: #999;
    float: left;
    font-size: 1.2em;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 250px;
}
article.proposal .timeline ul.intervals li:last-child {
    width: 50px;
}
article.proposal .timeline ul.intervals li.current {
    color: #222;
}
article.proposal .timeline .now {
    position: relative;
    width: 250px;
    text-align: center;
    top: -2px;
    font-size: 0.8em;
    font-weight: bold;
}
article.proposal .timeline .now .line {
    width: 125px;
    border-right: 1px solid;
    height: 10px;
}

/***** vote buttons *****/
article.proposal .votes {
    background-color: #eee;
    padding: 20px;
}
article.proposal .votes h2 {
    margin-bottom: 20px;
}
article.proposal .votes .votebuttons div.btn {
    font-weight: bold;
    padding: 0.5em;
    width: 2em;
    margin-right: 0.7em;
}
article.proposal .votes .votebuttons div.btn div.small {
    font-size: 0.6em;
}
article.proposal .votes .votebuttons div.voted {
    background-color: #0074cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/***** voting results *****/
article.proposal .votingresults {
    background-color: #eee;
    padding: 20px;
    margin-top: 25px;
}
article.proposal .votingresults h2 {
    margin-bottom: 20px;
}
article.proposal .votingresults .resultchart {
    padding-top: 20px;
}
article.proposal .votingresults .resultchart h3 {
    padding-bottom: 10px;
}
article.proposal .votingresults .resultchart .optionbar {
    display: inline-block;
    width: 55px;
}
article.proposal .votingresults .resultchart .optionbar .numvotes {
    position: relative;
    background-color: #999;
}
article.proposal .votingresults .resultchart .optionbar .numvotes span {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
article.proposal .votingresults .resultchart .optionbar .caption {
    border-top: 1px solid black;
    font-weight: bold;
    width: 2em;
    text-align: center;
    width: 100%;
}
article.proposal .votingresults .resultchart .optionbar .caption div.small {
    font-size: 0.6em;
}

/***** list of voters *****/
article.listofvoters {
    overflow: auto;
}
article.listofvoters .user-info {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/***** commentreply *****/
.commentreply {
    border-top: 1px solid;
    border-color: #ccc;
    padding-left: 30px;
}