

article.proposal {
}

article.proposal header.content {
    border-bottom: 3px #777 solid;
    font-size: 2em;
}

article.proposal header .updownvote {
    font-size: 16px;
    background-color: #777;
}

article.proposal .comment .updownvote {
    font-size: 9px;
    background-color: #aaa;
}

article.proposal .updownvote {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    width: 4em;
    text-align: center;
    margin-right: 0.7em;
}

article.proposal .updownvote .score {
    font-size: 1.5em;
}

#main article.proposal .updownvote a {
    color: #fff;
}

article.proposal .title{
    font-weight: bold;
    color: #444;
    margin-right: 0.7em;
}

article.proposal .diff {
    background-color: #ccc;
    padding: 4px;
    color: #33a;
    font-family: monospace;
}

article.proposal .motivation {
    margin: 8px 0 48px;
}

article.proposal .comment .motivation {
    padding-left: 48px;
    font-size: 12px;
}

article.proposal .comment h2 {
    border-bottom: 3px #aaa solid;
    margin-top: 24px;
}

article.proposal .owncomment {
    margin-top: 48px;
}

