

article.proposal {
}

article.proposal header.content {
    border-bottom: 3px #777 solid;
    font-size: 2em;
}

article.proposal header .updownvote {
    font-size: 16px;
    background-color: #777;
}

article.proposal .comment .updownvote {
    font-size: 9px;
    background-color: #aaa;
}

article.proposal .updownvote {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    width: 4em;
    text-align: center;
    margin-right: 0.7em;
}

article.proposal .updownvote .score {
    font-size: 1.5em;
}

#main article.proposal .updownvote a {
    color: #fff;
}

article.proposal .title{
    font-weight: bold;
    color: #444;
    margin-right: 0.7em;
}

article.proposal .diff {
    background-color: #ccc;
    padding: 4px;
    color: #33a;
    font-family: monospace;
}

article.proposal .motivation {
    margin: 8px 0 48px;
}
article.proposal .motivation label {
    display: none;
}
article.proposal .motivation form {
    background-color: inherit !important;
    padding: 0px !important;
    margin: 0px !important;
}
article.proposal .motivation .chzn-container,
article.proposal .motivation textarea {
    width: 700px !important;
}
article.proposal .motivation .chzn-container * {
    border: 0 ! important;
}

article.proposal a.edit {
    font-size: 14px;
    display: block;
    color: #bbb!important;
}
article.proposal a.edit:active,
article.proposal a.edit:visited {
    color: #bbb!important;
}
article.proposal a.edit:hover {
    color: #888!important;
}

article.proposal .comment .motivation {
    padding-left: 48px;
    font-size: 12px;
}

article.proposal .comment h2 {
    border-bottom: 3px #aaa solid;
    margin-top: 24px;
}
article.proposal .comment a.edit {
    margin-top: 10px;
    font-size: 12px;
}

article.proposal .owncomment {
    margin-top: 48px;
}

article.proposal .votebuttons {
    padding-left: 50px;
}

/***** timeline *****/
article.proposal .timeline {
    background-color: #eee;
    padding: 20px;
}
article.proposal .timeline h2 {
    margin-bottom: 10px;
}
article.proposal .timeline ul.events {
    list-style-type: none;
    margin: 0;
    padding: 0 0 8px 0;
    display: block;
    overflow: auto;
}
article.proposal .timeline ul.events li {
    width: 200px;
    color: #777;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 0 !important;
    text-align: center;
    float: left;
}
article.proposal .timeline ul.intervals {
    list-style-type: none;
    padding: 0;
    width: 510px;
    display: block;
    padding-left: 100px;
    overflow: auto;
    background-color: #ccc !important;
}
article.proposal .timeline ul.intervals li {
    border-left: 1px solid #999;
    color: #999;
    float: left;
    font-size: 1.2em;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 199px;
}
article.proposal .timeline ul.intervals li:last-child {
    width: 50px;
}
article.proposal .timeline ul.intervals li.current {
    color: #222;
}
article.proposal .timeline .now {
    position: relative;
    width: 200px;
    text-align: center;
    top: -2px;
    font-size: 0.8em;
    font-weight: bold;
}
article.proposal .timeline .now .line {
    width: 100px;
    border-right: 1px solid;
    height: 10px;
}

/***** vote buttons *****/
article.proposal .votes {
    background-color: #eee;
    padding: 20px;
}
article.proposal .votes h2 {
    margin-bottom: 20px;
}
article.proposal .votes .votebuttons a {
    color: white !important;
    background-color: #777;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em;
    width: 2em;
    text-align: center;
    margin-right: 0.7em;
    border-radius: 10px;
}
article.proposal .votes .votebuttons a:hover {
    background-color: #999;
}
article.proposal .votes .votebuttons a.voted {
    background-color: #bbb;
}
article.proposal .votes .votebuttons a div.small {
    font-size: 0.6em;
}

/***** voting results *****/
article.proposal .votingresults {
    background-color: #eee;
    padding: 20px;
    margin-top: 25px;
}
article.proposal .votingresults h2 {
    margin-bottom: 20px;
}
article.proposal .votingresults .resultchart {
    padding-top: 20px;
}
article.proposal .votingresults .resultchart h3 {
    padding-bottom: 10px;
}
article.proposal .votingresults .resultchart .optionbar {
    display: inline-block;
    width: 55px;
}
article.proposal .votingresults .resultchart .optionbar .numvotes {
    position: relative;
    background-color: #999;
}
article.proposal .votingresults .resultchart .optionbar .numvotes span {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
article.proposal .votingresults .resultchart .optionbar .caption {
    border-top: 1px solid black;
    font-weight: bold;
    width: 2em;
    text-align: center;
    width: 100%;
}
article.proposal .votingresults .resultchart .optionbar .caption div.small {
    font-size: 0.6em;
}


/***** list of voters *****/
article.listofvoters {
    overflow: auto;
}
article.listofvoters h1 {
    color: #444;
    margin: 0 0 20px 0;
    font-size: 2em;
}
article.listofvoters h2 {
    clear: both;
}
article.listofvoters .user-info {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}