/* fonts */

@font-face {
    font-family: "Intro Inline";
    src: url('../fonts/Intro Inline.otf');
}

@font-face {
    font-family: "Intro";
    src: url('../fonts/Intro.otf');
}

@font-face {
    font-family: "Dosis Bold";
    src: url('../fonts/Dosis-Bold.ttf');
}

@font-face {
    font-family: "Dosis Book";
    src: url('../fonts/Dosis-Book.ttf');
}

@font-face {
    font-family: "Dosis ExtraBold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

@font-face {
    font-family: "Dosis ExtraLight";
    src: url('../fonts/Dosis-ExtraLight.ttf');
}

@font-face {
    font-family: "Dosis Light";
    src: url('../fonts/Dosis-Light.ttf');
}

@font-face {
    font-family: "Dosis Medium";
    src: url('../fonts/Dosis-Medium.ttf');
}

@font-face {
    font-family: "Dosis SemiBold";
    src: url('../fonts/Dosis-SemiBold.ttf');
}

/* general tags */

* {
	margin: 0;
	padding: 0;
}

a {
    outline: 0;
	text-decoration: none;
	color: #555;
}

ul {
	list-style-type: none;
}

.show-grid {
	margin-top: 1px;
	margin-bottom: 2px;
}

/* render html5 elements as block */

body {
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    font-family: Arial, "Liberation Sans", "DejaVu Sans", sans-serif;
    background-color: #eee;
    color: #000;
}

/* nav top */

nav#top {
    font-size: 12px;
    text-align: right;
    background-color: #eee;
    color: #000;
}

nav#top ul {
	list-style: none;
	line-height: normal;
    margin: 0 auto;
}

nav#top ul li {
	display: inline-block;
    margin: 8px;
}

nav#top ul a {
    font-weight: normal;
	color: inherit;
}

/* content */

#content {
    margin: 0 auto;
	background: #fafafa;
	color: #000;
}

.timelinecanvaspane {
	width: 100%;
}

#timeline {
    width: 100%;
    display: block;
}


/* header */

.title-get {
    color: #ccc;
}

.title-opinionated {
    color: #666;
}

section#content > header {
    width: 1024px;
    margin: 0 auto;
}

section#content > header div {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
    text-overflow: ellipsis;
}

section#content > header #header-logo {
	height: 150px;
}

section#content > header #header-title {
    font-family: "Dosis ExtraBold"; 
	font-size: 100px;
	line-height: 150px;
    padding-left: 50px;
}

section#content > header a {
	color: inherit!important;
	font-weight: normal!important;
	text-decoration: none!important;
}

/* nav menu */

nav#menu {
    margin: 0 auto 24px;
    font-size: 16px;
    color: #777;
}

nav#menu ul {
	list-style: none;
	line-height: normal;
}

nav#menu ul li {
	display: inline-block;
    margin: 0px;
    padding: 8px;
    background-color: #333;
    color: #fff;
}

nav#menu a {
    font-weight: normal;
	color: inherit;
	text-decoration: none;
}

nav#menu ul a:hover {
}

/* messages */

ul.messages {
    margin: 0 auto;
	list-style-type: none;
	font-weight: bold;
}

ul.messages li.error {
	color: red;
}

/* main */

#main {
    margin: 0 auto;
    padding: 8px 0;
    color: #333;
}

/* main general content */

/* far too broad applicable. Is destroying layout from plugins, such as chosen
#main ul li {
    margin: 0 0 0 34px;
    list-style: url('/static/images/lightbulb.png')
}

#main ul li {
	display: block;
    margin: 0px;
    padding: 8px 0px 8px 0;
    background-color: transparent;
}

#main ul.errorlist li {
    color: #f00;
    font-style: italic;
}
*/

.proposal-list {
	display: inline-block;
	width: 80%;
}

.tag-list {
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

.tag-item {
	display: block;
	margin: 8px 0 0px 0;
}

.numberblock {
	margin: 0 3px 0 0;
	padding: 5px;
	width: 44px;
	height: 44px;
	display: inline-block;
	vertical-align: baseline;
}

.mini-counts {
	padding-top: 10px;
	height: 18px;
	font-size: 130%;
	font-weight: normal;
	text-align: center;
	display: block;
}

.numberblocktext {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 60%;
	text-align: center;
	vertical-align: baseline;
	background: transparent;
}

.upvotescore {
	background-color: #ddd;
	color: #555;
}

.numberofcomments {
	background-color: #ddd;
	color: #555;
}

.views {
	background-color: #ddd;
	color: #555;
}

.explanation {
	display: inline-block;
	width: 75%;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;	
}

.voting-stage {
    color: white;
    background-color: #555;
    font-size: 80%;
    border-radius: 3px;
    margin-right: 5px;
    padding: 3px 4px 3px 6px;
}

.summary {
	display: inline-block;
	margin: 0 0 0px 0;
	padding: 0 0 5px 0;
	border: 0;
	font-size: 150%;
	vertical-align: top;
	background: transparent;
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.creator-small {
	float: right;
	display: inline-block;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-size: 12px;
}

.creator-medium {
	display: block;
	margin: 8px 0 0 8px;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    float: right;
}

.proposal-tags {
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    margin: 0 0 10px 0;
}

/* footer */

footer {
}

footer {
    background-color: #eee;
    color: #aaa;
	font-size: 80%;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

footer a:link, footer a:visited {
	text-decoration: none;
}

footer a:hover { 
	text-decoration: underline;
}

footer p {
	margin: 5px 0;
}

.sharing{
    vertical-align: middle;
    font-weight: bold;
    color: #444;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
}

.sharing img{
	vertical-align: middle;
}

.minisharing{
    vertical-align: middle;
    font-weight: bold;
    color: #444;
    font-size: 16px;
    line-height: 16px;
    heigh: 16px;
}

.minisharing img{
	vertical-align: middle;
}

.maxisharing{
    vertical-align: middle;
    font-weight: bold;
    color: #444;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
}

.maxisharing img{
	vertical-align: middle;
}

.inverse {
	color: #fff;
	background: #333;
}

.table
{
    display: table;
}

.cell
{
    display: table-cell;
    vertical-align: middle;
}