/* fonts */

@font-face {
    font-family: "Intro Inline";
    src: url('../fonts/Intro Inline.otf');
}

@font-face {
    font-family: "Intro";
    src: url('../fonts/Intro.otf');
}

@font-face {
    font-family: "Dosis Bold";
    src: url('../fonts/Dosis-Bold.ttf');
}

@font-face {
    font-family: "Dosis Book";
    src: url('../fonts/Dosis-Book.ttf');
}

@font-face {
    font-family: "Dosis ExtraBold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

@font-face {
    font-family: "Dosis ExtraLight";
    src: url('../fonts/Dosis-ExtraLight.ttf');
}

@font-face {
    font-family: "Dosis Light";
    src: url('../fonts/Dosis-Light.ttf');
}

@font-face {
    font-family: "Dosis Medium";
    src: url('../fonts/Dosis-Medium.ttf');
}

@font-face {
    font-family: "Dosis SemiBold";
    src: url('../fonts/Dosis-SemiBold.ttf');
}

/* general tags */

* {
	margin: 0;
	padding: 0;
}

a {
    outline: 0;
	text-decoration: none;
	color: #555;
}

ul {
	list-style-type: none;
}

.show-grid {
	margin-top: 1px;
	margin-bottom: 2px;
}

/* render html5 elements as block */

body {
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    font-family: Arial, "Liberation Sans", "DejaVu Sans", sans-serif;
    background-color: #eee;
    color: #000;
}

/* nav top */

nav#top {
    font-size: 12px;
    text-align: right;
    background-color: #eee;
    color: #000;
}

nav#top ul {
	list-style: none;
	line-height: normal;
    margin: 0 auto;
}

nav#top ul li {
	display: inline-block;
    margin: 8px;
}

nav#top ul a {
    font-weight: normal;
	color: inherit;
}

/* content */

#content {
    margin: 0 auto;
	background: #fafafa;
	color: #000;
}

.timelinecanvaspane {
	width: 100%;
}

#timeline {
    width: 100%;
    display: block;
}


/* header */

.title-get {
    color: #ccc;
}

.title-opinionated {
    color: #666;
}

section#content > header {
    margin: 0 auto;
}

section#content > header div {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
    text-overflow: ellipsis;
}

section#content > header #header-logo {
	height: 150px;
}

section#content > header #header-title {
    font-family: "Dosis ExtraBold"; 
	font-size: 100px;
	line-height: 150px;
    padding-left: 50px;
}

section#content > header a {
	color: inherit!important;
	font-weight: normal!important;
	text-decoration: none!important;
}

/* nav menu */

nav#menu {
    margin: 0 auto 24px;
    font-size: 16px;
    color: #777;
}

nav#menu ul {
	list-style: none;
	line-height: normal;
}

nav#menu ul li {
	display: inline-block;
    margin: 0px;
    padding: 8px;
    background-color: #333;
    color: #fff;
}

nav#menu a {
    font-weight: normal;
	color: inherit;
	text-decoration: none;
}

nav#menu ul a:hover {
}

/* messages */

ul.messages {
    margin: 0 auto;
	list-style-type: none;
	font-weight: bold;
}

ul.messages li.error {
	color: red;
}

/* main */

#main {
    margin: 0 auto;
    padding: 8px 0;
    color: #333;
}

#main > .inset {
    margin-left: 20px;
    margin-right: 20px;
    
}

.amendment {
	color: #888888; 
}
/* main general content */

/* far too broad applicable. Is destroying layout from plugins, such as chosen
#main ul li {
    margin: 0 0 0 34px;
    list-style: url('/static/images/lightbulb.png')
}

#main ul li {
	display: block;
    margin: 0px;
    padding: 8px 0px 8px 0;
    background-color: transparent;
}

#main ul.errorlist li {
    color: #f00;
    font-style: italic;
}
*/

.proposal-list {
	display: inline-block;
	width: 80%;
}

.tag-list {
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

.tag-item {
	display: block;
	margin: 8px 0 0px 0;
}

.numberblock {
	margin: 0 3px 0 0;
	padding: 5px;
	width: 44px;
	height: 44px;
	display: inline-block;
	vertical-align: baseline;
}

.mini-counts {
	padding-top: 10px;
	height: 18px;
	font-size: 130%;
	font-weight: normal;
	text-align: center;
	display: block;
}

.numberblocktext {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 60%;
	text-align: center;
	vertical-align: baseline;
	background: transparent;
}

.upvotescore {
	background-color: #ddd;
	color: #555;
}

.numberofcomments {
	background-color: #ddd;
	color: #555;
}

.views {
	background-color: #ddd;
	color: #555;
}

.explanation {
	display: inline-block;
	width: 75%;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;	
}

.voting-stage {
    color: white;
    background-color: #555;
    font-size: 80%;
    border-radius: 3px;
    margin-right: 5px;
    padding: 3px 4px 3px 6px;
}

.summary {
	display: inline-block;
	margin: 0 0 0px 0;
	padding: 0 0 5px 0;
	border: 0;
	font-size: 150%;
	vertical-align: top;
	background: transparent;
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.creator-small {
	float: right;
	display: inline-block;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-size: 12px;
}

.creator-medium {
	display: block;
	margin: 8px 0 0 8px;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    float: right;
}

.proposal-tags {
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    margin: 0 0 10px 0;
}

/* footer */

footer {
}

footer {
    background-color: #eee;
    color: #aaa;
	font-size: 80%;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

footer a:link, footer a:visited {
	text-decoration: none;
}

footer a:hover { 
	text-decoration: underline;
}

footer p {
	margin: 5px 0;
}

.sharing{
    vertical-align: middle;
    font-weight: bold;
    color: #444;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
}

.sharing img{
	vertical-align: middle;
}

.minisharing{
    vertical-align: middle;
    font-weight: bold;
    color: #444;
    font-size: 16px;
    line-height: 16px;
    heigh: 16px;
}

.minisharing img{
	vertical-align: middle;
}

.maxisharing{
    vertical-align: middle;
    font-weight: bold;
    color: #444;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
}

.maxisharing img{
	vertical-align: middle;
}

.inverse {
	color: #fff;
	background: #333;
}

.table
{
    display: table;
}

.cell
{
    display: table-cell;
    vertical-align: middle;
}

.bigmodal.fade.in {
  top: 5%!important;
}



.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    /*display: block;*/
    /*margin: 0 0 -1px;*/
    padding: 8px 14px;
}

.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    /*display: block;*/
    /*margin: 0 0 -1px;*/
    padding: 8px 14px;
}

.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}

.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}

.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    /*background-image: url("../img/glyphicons-halflings-white.png");*/
    opacity: 1;
}

.bbs-docs-sidenav.affix {
    top: 40px;
}

.bbs-docs-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}

.leftnav {
    top: 10px;
    width: 193px;
}

.nav-accordion {
	margin:0!important;
}

.nav-accordion-inner {
    padding:0!important;
}

#title {
    margin-left:25px;
}

.nav > .btn {
	margin-left:25px;
	
}

.icon-chevron-right {
	float: left;
	margin-top: 2px;
	margin-right: 5px;
	opacity: .25;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.icon-chevron-right.rotated {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.icon-thumbs-down {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.level1.accordion-group, .level2.accordion-group, .level3.accordion-group, .accordion-inner {
	border: 0!important;
	margin-bottom: 0!important;
}

.level1.active > a {
	background: #0088cc;
	color: #ffffff;
}

.level1 {
    color: #0088cc;
}

.level2.active > a {
    background: #0088cc;
    color: #ffffff;
}

.level2 {
	margin-left: 10px;
    color: #0088cc;
    /*background: #E6F3FA;*/
}

.level3.active > a{
    background: #0088cc;
    color: #ffffff;
    ov
}

.level3 {
    margin-left: 30px;
    color: #0088cc;
    /*background: #CCE7F5;*/
}

.number-slider-widget .slider-selection {
    background: #0088cc;
}

.POS{
	background: #dfd;
}

.NEG{
    background: #fdd;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.amendment ul{
  list-style-type: disc;
}
