/* fonts */

@font-face {
    font-family: "Intro Inline";
    src: url('../fonts/Intro Inline.otf');
}

@font-face {
    font-family: "Intro";
    src: url('../fonts/Intro.otf');
}

@font-face {
    font-family: "Dosis Bold";
    src: url('../fonts/Dosis-Bold.ttf');
}

@font-face {
    font-family: "Dosis Book";
    src: url('../fonts/Dosis-Book.ttf');
}

@font-face {
    font-family: "Dosis ExtraBold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}

@font-face {
    font-family: "Dosis ExtraLight";
    src: url('../fonts/Dosis-ExtraLight.ttf');
}

@font-face {
    font-family: "Dosis Light";
    src: url('../fonts/Dosis-Light.ttf');
}

@font-face {
    font-family: "Dosis Medium";
    src: url('../fonts/Dosis-Medium.ttf');
}

@font-face {
    font-family: "Dosis SemiBold";
    src: url('../fonts/Dosis-SemiBold.ttf');
}

/* general tags */

* {
	margin: 0;
	padding: 0;
}

/* render html5 elements as block */

body {
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    font-family: Arial, "Liberation Sans", "DejaVu Sans", sans-serif;
    background-color: #eee;
    color: #000;
}

/* nav top */

nav#top {
    font-size: 12px;
    text-align: right;
    background-color: #eee;
    color: #000;
}

nav#top ul {
	list-style: none;
	line-height: normal;
    max-width: 1024px;
    margin: 0 auto;
}

nav#top ul li {
	display: inline-block;
    margin: 8px;
}

nav#top ul a {
    font-weight: normal;
	color: inherit;
}

/* content */

#content {
    margin: 0 auto;
	background: #fafafa;
	color: #000;
}

/* header */

.title-get {
    color: #ccc;
}

.title-opinionated {
    color: #666;
}

section#content > header {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

section#content > header div {
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

section#content > header #header-logo {
    box-flex: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
}

section#content > header #header-title {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 100%;
    font-family: "Dosis ExtraBold"; 
	font-size: 100px;
    padding-left: 50px;
}

section#content > header a {
	color: inherit!important;
	font-weight: normal!important;
	text-decoration: none!important; 
}

/* nav menu */

nav#menu {
    max-width: 1024px;
    margin: 0 auto 24px;
    font-size: 16px;
    color: #777;
}

nav#menu ul {
	list-style: none;
	line-height: normal;
}

nav#menu ul li {
	display: inline-block;
    margin: 0px;
    padding: 8px;
    background-color: #333;
    color: #fff;
}

nav#menu a {
    font-weight: normal;
	color: inherit;
	text-decoration: none;
}

nav#menu ul a:hover {
}

/* messages */

ul.messages {
    max-width: 1024px;
    margin: 0 auto;
	list-style-type: none;
	font-weight: bold;
}

ul.messages li.error {
	color: red;
}

/* main */

#main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 8px 0;
    color: #333;
}

/* main general content */

#main a,
#main a:visited
{
    color: #777;
    text-decoration: none;
    font-weight: bold;
}

#main a:hover,
#main a:active {
    color: #aaa;

}

#main ul li {
    margin: 0 0 0 34px;
    list-style: url('../images/lightbulb.png')
}

#main ul li {
	display: block;
    margin: 0px;
    padding: 8px 0px 8px 0;
    background-color: transparent;
    color: #fff;
}

.numberblock {
	margin: 0 3px 0 0;
	padding: 5px;
	width: 44px;
	height: 44px;
	display: inline-block;
	vertical-align: baseline;
}

.mini-counts {
	height: 28px;
	font-size: 130%;
	font-weight: normal;
	text-align: center;
	display: block;
}

.numberblocktext {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 60%;
	text-align: center;
	vertical-align: baseline;
	background: transparent;
}

.upvotescore {
	background-color: #444;
	color: #fff;
}

.numberofcomments {
	background-color: #333;
	color: #fff;
}

.views {
	background-color: #555;
	color: #fff;
}

.summary {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 150%;
	vertical-align: top;
	background: transparent;
}

.creator-small {
	display: inline-block;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.creator-medium {
	display: block;
	margin: 8px 0 0 8px;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    float: right;
}

/* footer */

footer {
}

footer {
    background-color: #eee;
    color: #aaa;
	font-size: 80%;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

footer a:link, footer a:visited {
	text-decoration: none;
}

footer a:hover { 
	text-decoration: underline;
}

footer p {
	margin: 5px 0;
}

/* forms */

form {
    padding: 8px;
    background-color: #eee;
    margin: 8px 0;
    color: #777;
}

form p {
    margin: 0.5em 0;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    background-color:#777;
    color:#fff;
}

input[type=text],
input[type=password]
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #777;
    padding: 4px;
    background-color: inherit;
}

textarea {
    border: 1px solid #777;
    padding: 4px;
    background-color: #f7f7f7;
}

select:active,
form input[type=submit]:active {
    border: 1px solid #777;
    padding: 4px 16px;
    background-color: #f7f7f7;
    color: inherit;
}

select,
form input[type=submit] {
    border: 1px solid #777;
    padding: 4px 16px;
    background-color:#777;
    color:#fff;
}

form label {
    color: #000;
    display: inline-block;
    width: 150px;
}

