{% load i18n %}
{% load encrypt_email %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% include "title.html" %}{% endblock %}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/users.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
    {% block extrastyle %}{% endblock %}
    <meta charset=utf-8" />
    {% block extrahead %} {% endblock %}
</head>
<body>

    <nav id="top">
        <ul>
            {% if not user.is_authenticated %}
                <li><a href="{% url user-login %}">Login</a></li>
                <li><a href="{% url user-register %}">Register</a></li>
            {% endif %}
            {% block menu %} {% endblock %}
            {% if user.is_authenticated %}
                <li><a href="{% url profile-update %}">Profile</a></li>
                <li><a href="{% url user-logout %}">Logout</a></li>
                <li class="right">(logged in as {{user.display_name}})</li>
            {% endif %}
        </ul>
    </nav>

    <section id="content">

        <header>
            <div id="header-logo"><a href="{% url home-index %}"><img src="{{STATIC_URL}}images/logo.png" alt="" /></a></div>
            <div id="header-title"><a href="{% url home-index %}"><span class="title-get">get</span><span class="title-opinionated">Opinionated</span></a></div>
        </header>
        
        <nav id="menu">
            <ul>
                <li><a href="{% url latest-document-detail 'the-pirate-codex' %}">Document</a></li>
                <li><a href="{% url proposals-index %}">Proposals</a></li>
            </ul>
        </nav>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <section id="main">
             {% block content %}{% endblock %}
        </section>

    </section>
    
    <footer>
        <p>Created by the getopinionated team. Developed under the GPL license.</p>
    </footer>
    {% block extrascripts %} {% endblock %}
</body>
</html>
