{% extends "base.html" %}
{% load call_with_args %}
{% load macros %}
{% loadmacros "proposal/proposal-form-modal-macro.html" %}

{% block title %}{% include "title.html" with subtitle=fulldocument.title subtitle2=" version " subtitle3=fulldocument.version_roman %}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/document.css" type="text/css" charset="utf-8" />
  {{ form.media }}
{% endblock %}

{% block content %}
    <h1>{{ fulldocument.title }} version {{ fulldocument.version_roman }}</h1>
    {% if user.is_authenticated %}
	<div>
	    <div style="float:right;">
	       {% usemacro proposal-form-modal-button-macro "Amend this document" "amend"%}
	    </div>
	    {% autoescape off %}
            {{ fulldocument.content }}
        {% endautoescape %}
	</div>
	{% usemacro proposal-form-modal-macro fulldocument.content "amend"%}  
    {% else %}
        <div class="document">
			{% autoescape off %}
			    {{ fulldocument.content }}
			{% endautoescape %}
        </div>
    {% endif %}
  
{% endblock %}
