{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1>Get Opinionated!</h1>
		<p class="lead">and help write the Pirate Party Political Programme</p>
		{% if user.is_authenticated %}
		    <a class="btn btn-large btn-primary" href="/document/the-pirate-codex">Starting Today!</a>
		{% else %}
		    <a class="btn btn-large btn-primary" href="{% url user-register %}">Register!</a>
		{% endif %}
	</div>
	
	<div class="row-fluid">
		<div class="span4">
			<h2>Write the programme</h2>
			<p>Everybody can help out and put their area of expertise into our programme. Since everybody is an expert in his own field, allbeit a very small field, only together we can make an awesome program.</p>
			<p><a class="btn" href="#write">View details &raquo;</a></p>
		</div>
		<div class="span4">
			<h2>Using Liquid Democracy</h2>
			<p>We believe in democracy rather than hierarchy, so we give you the state of the art in voting: Liquid Democracy. It strikes the perfect balance between a direct democracy system and a representative one, all to minimize your effort and maximize your influence.</p>
			<p><a class="btn" href="#liquid-democracy">View details &raquo;</a></p>
		</div>
		<div class="span4">
			<h2>As easy as possible</h2>
			<p>We tried to make the entire process as easy as possible. The tool is not to be used by experts only, but by real people. We want as many people as possible to help out, and that's why we have put an extreme effort in making everything as simple as possible.</p>
			<p><a class="btn" href="#process">View details &raquo;</a></p>
		</div>
	</div>

    <div class="jumbotron" id="write">
        <h1>Write!</h1>
        <p class="lead">and bring your expertise into politics</p>
    </div>
    <div class="row-fluid">
	    
	    <div class="span4">
	        <h2>GetOpinionated is a platform</h2>
	        <p>Getopinionated is the platform which the Pirate Party Belgium uses to create its programme, in parallel to the development of the programme at the General Assemblies. A General Assembly allows certain kinds of people to jump in and help, this website is for another group of people. We do all this effort for your opinion, because we want everybody involved.</p>
	        <p><a class="btn" href="#because">View details &raquo;</a></p>
	    </div>
	    <div class="span4">
            <h2>Streamlined</h2>
            <p>We tried to make the entire process as easy as possible. We know not everybody has a Phd in politicology. That's why we streamlined the process and ask only the minimal of extra information, other than your actual idea. All to make adding your idea into our programme easier.</p>
            <p><a class="btn" href="#help">View details &raquo;</a></p>
        </div>
        <div class="span4">
	        <h2>Political Programme</h2>
	        <p>Firstly, the political programme of the Pirate Party is the plan the party will offer the voters on the day of election. More than that, it is the plan the Pirate Party will execute as good as possible, using its elected mandates in the years after the elections. The programme is what we are trying to achieve as a party, and not only that, it also explains why and how we are going to achieve this as well. The programme is our promise to the voters on how we will try to use their vote as good as possible.</p>
	        <p><a class="btn" href="/document/the-pirate-codex">Go to the programme &raquo;</a></p>
	    </div>
	</div>

    <div class="jumbotron" id="because">
        <h1>Because!</h1>
        <p class="lead">we want everybody involved</p>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h2>Practice what you preach</h2>
            <p>We go by "practice what you preach". We and (other) politicologists claim that Belgium is first a particracy, and only second a democracy. So in order to gain influence in our political system, we first and foremost need a political party. Secondly, this party needs to function democratically in order to make our particracy more democratic. This is often overlooked, but while many parties feature the word "democracy" in their name, they only want to work in a democratic system, not function democratically themselves. Inside these "democratic" parties, politics works in diverse ways, ranging from meritocracy over nepotism to totalitarianism. Not so for the Pirate Party, while we do not mention of "democracy" in our name, we do want to be democratic party.</p>
        </div>
        <div class="span4">
            <h2>Citizens in Charge</h2>
            <p>We let the voters decide on the promise we deliver them. Since it is they who need to be convinced, we let them write the programme. Such a collaboration between thousands of users in an equal and transparent way is impossible, that is, before the internet arrived. The internet has shown that cooperation between millions of people without hierarchy is possible. Look at projects such as Facebook or Twitter. Even more so, it is possible for these people to even strive for a common goal, illustrated in for instance Wikipedia or Coursera.</p>
        </div>
        <div class="span4">
            <h2>Trust the crowd</h2>
            <p>We believe in the power of the people. We live in a more and more specialized society, where people know more about less. And since we want a programme written by experts, we want a programme created by a lot of people. We believe that this will help us develop ideas for a wide range of issues and have solutions developed by the actual people who know something on the issue. For instance, because they need to deal with the issue every day. Yet, we don't only want experts. We also want out-of-the-box-thinking, we want creativity, we want new approaches for old problems. An expert opinion is invaluable and so is a fresh approach to old problems.</p>
        </div>
    </div>

    <div class="jumbotron" id="help">
        <h1>Help out!</h1>
        <p class="lead">if you help, it will get better</p>
    </div>
    <div class="row-fluid">
    
        <div class="span4">
            <h2>Change the Document</h2>
            <p>We already have a programme, which is no more than a document. If you want to improve it, first thing you have to do is to create an amendment. Go to the document and make an amendment.</p>
            <p><a class="btn" href="/document/the-pirate-codex">Go to the document &raquo;</a></p>
        </div>
        <div class="span8">
            <h2>An Amendment</h2>
            <p>
				<ul style="list-style-type:circle">
				<li>A title: your amendment needs a name. Something which describes what it is about in a couple of words.</li>
				<li>An amandment: what do you want the text to look like? If your proposal gets approved, your changes will be added to the document as well.</li>
				<li>Tags: what is the subject of your amendment? These tags determine the subject of the proposal and help settle who is your proxy for the proposal.</li>
				<li>A motivation: why do you want to propose this change? Put further explanation here, if you don't want the explanation to be in the programme.</li>
				<li>Days to discuss: how many days of discussion will you need to convince the others that your proposal is a good idea?</li>
				</ul>
            </p>
        </div>
    </div>

    <div class="jumbotron" id="process">
        <h1>Process!</h1>
        <p class="lead">and share your opinion with others</p>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h2>Step 1: Support</h2>
            <p>Find enough people who want to endorse your proposal. You can use your social network to find people who share your opinion. If you don't find these people during your discussion time, your proposal will expire and will never go to the voting phase. This is to prevent proposals from moving under the radar but into the program. If you have found these people to endorse your amendment, and after the discussion time is over, your proposal will move into the voting phase.</p>
        </div>
        <div class="span4">
            <h2>Step 2: Vote</h2>
            <p>During the voting phase, you and other people have the time to vote on your proposal. You can vote on a scale from '-5' to '+5'. If the average of all the votes is positive, your proposal will be accepted. If it is negative or zero, it will be rejected and not put into the program. You also need a minimum of real, non-proxy people voting in order to make the vote count. So make sure to ask everbody's opinion.</p>
        </div>
        <div class="span4">
            <h2>Step 3: Done</h2>
            <p>Once your proposal is accepted, your changes will be performed on the programme automatically. And that's it, your expertise has moved into the programme of an actual political party. Congratulations!</p>
        </div>
    </div>

    <div class="jumbotron" id="liquid-democracy">
        <h1>Democracy!</h1>
        <p class="lead">only this time more democratically</p>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h2>Time and Complexity</h2>
            <p>During the creation of the programme, there will be a lot of reading and reworking to do. The time required to deal with this complexity might surpass the time you have to create the programme. That's why we have set up a system to deal with this issues. The system we have is a liquid democracy system. </p>
        </div>
        <div class="span4">
            <h2>Pass your vote</h2>
            <p>Liquid voting means that you can pass your votes to other people, who can consequently move both their and your vote to somebody else, and so on. This proxy vote is not permanent, you can always vote yourself. You can also give your vote to somebody only for some subjects. As said earlier, people are only expert on a small subject, so it makes sense to give them your vote only for this subject.</p>
        </div>
        <div class="span4">
            <h2>To Multiple People</h2>
            <p> You can even give multiple people your vote for a subject. If only one of them votes, he gets your complete vote. If more of them vote, they all share your vote equally. So you never have to fear your vote will get wasted. If you trust enough people with your vote, it will be used for the good cause.</p>
            <p><a class="btn" href="{% url proxy-index %}">Set up your proxies &raquo;</a></p>
        </div>
    </div>


    <div class="jumbotron">
        <h1>Let's do it!</h1>
        <p class="lead">and get started</p>
        <a class="btn btn-large btn-primary" href="{% url user-register %}">Here!</a>
    </div>

{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
        $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {
		
		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top-50
		            }, 1000);
		            return false;
		        }
		    }
		});
    </script>
{% endblock %}



