{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>About Getopinionated</h1>

Getopinionated is the platform which the Pirate Party Belgium uses to create its programme, in parallel to the development of the programme at the General Assemblies. Now, how does this work?

<h2>What is a programme?</h2>
Firstly, the political programme of the Pirate Party is the plan the party will offer the voters on the day of election. More than that, it is the plan the Pirate Party will execute as good as possible, using its elected mandates in the years after the elections. The programme is what we are trying to achieve as a party, and not only that, it also explains why and how we are going to achieve this as well. The programme is our promise to the voters on how we will try to use their vote as good as possible.

<h2>Why do you create your programme in this unusual way?</h2>
The Pirate Party has multiple reasons of doing so. First and foremost, we go by "practice what you preach". We and (other) politicologists claim that Belgium is first a particracy, and only second a democracy. So in order to gain influence in our political system, we first and foremost need a political party. Secondly, this party needs to function democratically in order to make our particracy more democratic. This is often overlooked, but while many parties feature the word "democracy" in their name, they only want to work in a democratic system, not function democratically themselves. Inside these "democratic" parties, politics works in diverse ways, ranging from meritocracy over nepotism to totalitarianism. Not so for the Pirate Party, while we do not mention of "democracy" in our name, we want a democratic party.

Secondly, we let the voters decide on the promise we deliver them. Since it is they who need to be convinced, we let them write the programme. Such a collaboration between thousands of users in an equal and transparent way is impossible, that is, before the internet arrived. The internet has shown that cooperation between millions of people without hierarchy is possible. Look at projects such as Facebook or Twitter.Even more so, it is possible for these people to even strive for a common goal, illustrated in for instance Wikipedia or Coursera.

Thirdly, we believe in the power of the people. We live in a more and more specialized society, where people know more about less. And since we want a programme written by experts, we want a programme created by a lot of people. We believe that this will help us develop ideas for a wide range of issues and have solutions developed by the actual people who know something on the issue. For instance, because they need to deal with the issue every day. Yet, we don't only want experts. We also want out-of-the-box-thinking, we want creativity, we want new approaches for old problems. An expert opinion is invaluable and so is a fresh approach to old problems. 

<h2>How do I help?</h2>
Simple, we made the process as simple as possible. All you need to know is the procedure, so how do you add your expertise to the Pirate Party Programme.

<h3>Create an amendment</h3>
We already have a programme, which is no more than a document. If you want to improve it, first thing you have to do is to create an amendment. Go to the document and make an amendment.

<h3>What elements does an amendment have</h3>
A title: your amendment needs a name. Something which describes what it is about in a couple of words.
An amandment: what do you want the text to look like? If your proposal gets approved, your changes will be added to the document as well.
Tags: what is the subject of your amendment? These tags determine the subject of the proposal and help settle who is your proxy for the proposal.
A motivation: why do you want to propose this change? Put further explanation here, if you don't want the explanation to be in the programme.
Days to discuss: how many days of discussion will you need to convince the others that your proposal is a good idea?

<h3>How is your amendment processed</h3>
The first step your proposal needs to go through, is to find enough people who want to endorse your proposal. You can use your social network to find people who share your opinion. If you don't find these people during your discussion time,
 your proposal will expire and will never go to the voting phase. This is to prevent proposals from moving under the radar and into the program. If you have found these people to endorse your amendment, and after the discussion time is over, your proposal will move into the voting phase.

 During the voting phase, you and other people have the time to vote on your proposal. You can vote on a scale from '-5' to '+5'. If the average of all the votes is positive, 
 your proposal will be accepted. If it is negative or zero, it will be rejected and not put into the program.

Once your proposal is accepted, your changes will be performed on the programme. And that's it, your expertise has moved into the programme.

<h2>But won't there be too many proposals?</h2>
During the creation of the programme, there will be a lot of reading and reworking to do. The time required to deal with this complexity might surpass the time you have to create the rpogramme. That's why we have set up a system to deal with this issues. The system we have is a liquid democracy system. This means that you can pass your votes to other people, who can consequently 
move their vote to somebody else, and so on. This proxy is not permanent, you can always vote yourself. You can also give your vote to somebody else based on some subjects.
As said earlier, people are only expert on a small subject, so give them your vote only for this subject. You can even give multiple people your vote for a subject. If only one of them votes,
he gets your complete vote. If more of them vote, they all share your vote equally.

<h2>Let's get started</h2>
Now, let's do it. We tried to make this site as userfriendly as possible. If you would find anything which you still find not clear, anything hard to do, feel free to contact the crew. In the meantime, happy programming!

The Getopinionated Crew.


{% endblock %}



